In [ ]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
data=pd.read_csv('/kaggle/input/black-friday-sales-eda/train.csv')
df1=data.copy()
df1.head()

In [ ]:
df1.info()
df1.isnull().sum()

In [ ]:
del df1['Product_Category_3']

* As 'Product_Category_3' has maximum NaN values, lets drop it.

In [ ]:
df1.Age.unique()
df1['Age'] = df1['Age'].map({'0-17': 'Child', '18-25': 'Teen', '26-35': 'Young Adult', '36-45': 'Mid Adult', '46-50': 'Old Adult', '51-55': 'Early Old', '55+': 'Old'})

* Checked the unique values in 'Age' column and replaced accordingly.

In [ ]:
df1.rename(columns = {'Stay_In_Current_City_Years':'Stay_In_City'}, inplace = True)

In [ ]:
df1.groupby(['Age'])['Product_Category_2'].agg(pd.Series.mode)

* find out the mode for each age group and replace it with NaN values.

In [ ]:
d1=df1[df1['Age']!='Child']
d1['Product_Category_2']= df1['Product_Category_2'].replace(np.nan,8.0 )

d2=df1[df1['Age']=='Child']
d2['Product_Category_2']= df1['Product_Category_2'].replace(np.nan,4.0 )

df=d1.append(d2)
df

As 'Child' has different value than 8.0, we have made 2 dataframes and then merged in df1.

In [ ]:
df.shape,df1.shape

In [ ]:
# age_mode=df.groupby(['Age'])['Product_Category_2'].agg(pd.Series.mode)
# age_mode

In [ ]:
df.Gender.value_counts().plot(kind='pie',autopct='%.f%%')

* Above graph shows that Male prefer to shop more than female.

In [ ]:
df.groupby(['Gender','Marital_Status'])['Purchase'].sum().plot(kind='bar')

* Above graph shows that Unmarried(0) Male and Female tend to shop more than Married Male & Females.

In [ ]:
df.Age.value_counts().plot(kind='bar')

* Young adults prefer to shop more than other age group.

In [ ]:
plt.figure(figsize=(15,5))
sns.distplot(df['Purchase'])
plt.show()

* Above graph shows that maximum Purchase is in between 5000-10000.

In [ ]:

sns.countplot(x='Stay_In_City', data=df)
#df.Stay_In_City.value_counts().plot(kind='pie',autopct='%.f%%')

* Above graph shows that most of the customer stays in the city for 1 year.

In [ ]:
sns.countplot(x='Occupation', data=df)

* Above graph shows that occupation 0, 4 & 7 has maximum shopping tendency.

In [ ]:
df.City_Category.value_counts().plot(kind='pie',autopct='%.f%%')
#df.City_Category.value_counts().plot(kind='bar')

* Above graph shows that majority customers are from city B.

In [ ]:
sns.kdeplot(df['Product_Category_1'])

* Above graph shows that Product_Category_1 has highest selling products 1, 5 and 8 .

In [ ]:
df.groupby('Age')['Purchase'].sum().nlargest(10).plot(kind='bar')

* Above graph shows that Young Adult spends maximum money on shopping(2*10^9), whereas Child & Early Old people spend lowest.

In [ ]:
df.groupby('Occupation')['Purchase'].sum().nlargest(10).plot(kind='bar')

* Above graph shows that people with occupation 4 & 0 has maximum purchasing power(6.5*10^8).

In [ ]:
df.groupby('Product_Category_1')['Purchase'].count().nlargest(15).plot(kind='bar')

* Above graph shows that 'Product 5' from 'Product_Category_1' has maximum sell(140000).

In [ ]:
c=df.groupby('Product_Category_1')['Purchase'].mean()#.nlargest(15).plot(kind='bar')
c

In [ ]:
# a=df.groupby('Product_Category_1')['Purchase'].count()  #Product1= 140378
# b=df.groupby('Product_Category_1')['Purchase'].sum()    #Product1= 1910013754
# c=b/a
# c
# We can calculate the price of each product from above information: (1910013754/140378)=13,606.21

In [ ]:
d=df.groupby('Product_Category_1')['Purchase'].count()
s=pd.DataFrame((c,d)).T.plot(kind='bar',figsize=(16,6))
s.legend(["Average Price", "Total_Sell"]);

* Above graph shows Product sell(Orange) & Price of the product(Blue).

In [ ]:
new2=c.plot(kind='bar')

* Above graph shows the price of each product from 'Product Category 1'

In [ ]:
sns.boxplot(y="Age", x="Occupation", data=df, palette='rainbow')

* Above graph shows the occupation of each age group.

In [ ]:
plt.figure(figsize = (15,5))
sns.boxplot(x = df['Occupation'] , y = df['Purchase'])